<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Powered By -->
        <p class="copy">Powered by: | <a href="#">Support Hub</a> </p>
      </div>
    </div>
  </div>
</footer>