<p>НЕТ ГРУПП</p>
<br>
<p>Необходимо добавить, по крайней мере, одну группу, чтобы начать составлять расписание</p>
<?php
	echo $this->Widgets->TableFooterAdd("javascript:addGroup()", '<i class="icon-plus"></i>', "Добавить");
?>