<div class="row">         
	<div class="col-md-12">
		
		<?php			
			echo $this->Widgets->NoResults();			
			echo $this->Widgets->TableFooterAdd('javascript:speciality_add_show('.$type.')', '<i class="icon-plus"></i>', @$textToAddButton);
		?>
		
	</div>
</div>