<div class="row fullscreen-mode">
	<div class="col-md-12">

		<?php
			echo $this->Widgets->TableSpecialities($specialitiesArray, 'Speciality', array("code", "name", "profile"), $type);
		?>
		
	</div>
</div>