<div class="row">
	<div class="col-lg-3">
		<div class="box side-menu-main">
			<div class="dashboard-pinned-project-header bg-purple">1-е полугодие</div>
			<div class="box-content box-pad tickets-new-details"></div>
		</div>
	</div>
	
	<div class="col-lg-3">
		<div class="box side-menu-main">
			<div class="dashboard-pinned-project-header bg-purple">2-е полугодие</div>
			<div class="box-content box-pad tickets-new-details"></div>
		</div>
	</div>	
</div>