<?php
	if (!empty($teachers)) {
		echo '<ul class="teachers-list">';
		foreach ($teachers as $teacher) {
			echo '<li class="suggestion_box_item">'.$teacher['Teacher']['name'].'</li>';
		}
		echo '</ul>';
	}
?>