<?php
	if (!empty($subjects)) {
		echo '<ul class="subjects-list">';
		foreach ($subjects as $subject) {
			echo '<li class="suggestion_box_item">'.$subject['Subject']['name'].'</li>';
		}
		echo '</ul>';
	}
?>