<?php echo $this->Js->writeBuffer(); ?>

<div id="hidden_message_chair_add" style="display: none; "><?php echo @$hidden_message_chair_add; ?></div>
<div id="hidden_error_addChairName" style="display: none; "><?php echo @$error_addChairName; ?></div>

<?php
	echo $this->element('chairs-check');
?>