<?php echo $this->Js->writeBuffer(); ?>

<div id="hidden_message_chair_edit" style="display: none; "><?php echo @$hidden_message_chair_edit; ?></div>

<div id="hidden_error_editChairName" style="display: none; "><?php echo @$error_editChairName; ?></div>

<?php
	echo $this->element('chairs-check');
?>