<?php
	echo '<h1>'.$speciality['Speciality']['name'].'</h1>';
	echo '<br>';
	echo '<h3>'.$speciality['Speciality']['profile'].'</h3>';
	echo '<br>';
	
	if ($groups != null) {
		echo $this->element('table-admin');
	} else {
		echo $this->element('no-groups-found-admin');
	}
?>