<?php echo $this->Js->writeBuffer(); ?>

<div id="hidden_message_add" style="display: none; "><?php echo @$hidden_message_add; ?></div>

<!-- вариант для одной движущейся ячейки ввода -->
<!-- <div id="hidden_where_was_error" style="display: none; "><?php echo @$where_was_error; ?></div> -->

<div id="hidden_error_addSpecialityCode" style="display: none; "><?php echo @$error_addSpecialityCode; ?></div>
<div id="hidden_error_addSpecialityName" style="display: none; "><?php echo @$error_addSpecialityName; ?></div>
<div id="hidden_error_addSpecialityProfile" style="display: none; "><?php echo @$error_addSpecialityProfile; ?></div>

<?php
	echo $this->element('specialities-check');
?>