<?php echo $this->Js->writeBuffer(); ?>

<div id="hidden_message_edit" style="display: none; "><?php echo @$hidden_message_add; ?></div>

<!-- вариант для одной движущейся ячейки ввода -->
<!-- <div id="hidden_where_was_error" style="display: none; "><?php echo @$where_was_error; ?></div> -->

<div id="hidden_error_editSpecialityCode" style="display: none; "><?php echo @$error_editSpecialityCode; ?></div>
<div id="hidden_error_editSpecialityName" style="display: none; "><?php echo @$error_editSpecialityName; ?></div>
<div id="hidden_error_editSpecialityProfile" style="display: none; "><?php echo @$error_editSpecialityProfile; ?></div>

<?php
	echo $this->element('specialities-check');
?>