.social {
    color: white;
    font-size: 2em;
    border-radius: 5px;
}
.social:hover {
	color: lightgrey;
}
.social.vk_login {
	background: #597B9F;
	padding: 1px 0 4px;
}
.social.fb_login {
	background: #3D5998;
    padding: 1px 0 4px;
}

div.courseContainer {
	width: 350px;
	display: inline;
}

/* выбор специальности */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  float: left;
}

/* Стиль разделителя для selectBox'а (выбора специальностей) */
.cs-options .cs-optgroup > span {
	color: gray;
}

.speciality {
	width: 700px;
	color: #fff;
	margin: 0 auto;
	text-align: left;
	text-indent: 20px;
}

.speciality label {
	font-size: 20px !important;
}

h1.speciality {
	font-weight: bold;
	padding-bottom: 30px;
}

.back {
	color: #fff;
	font-size: 36px;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/back-narrow1.png) no-repeat;
	background-position: left center;
}

.back:hover {
	background: url(../img/back-narrow1_hover.png) no-repeat;
}

/* ********************************** */

.page-head {
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	padding: 10px 50px;
	text-align: right;
	font-size: 16px;
	text-transform: uppercase;
	height: 50px;
	z-index: 100;
	position: relative;
	
/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/
}

.page-head input[type=text], input[type=password] {
	height: 30px !important;
}

.reg_link {
	float: right;
	margin: 0px 20px 0px 0px;
}

.reg_link a {
	text-decoration: underline;
	color: #FFF;
}

.open_id {
	color: #000;
	text-transform: none;
	font-size: 14px;
	margin: 20px 0px 0px 0px;
	text-align: left;
}

/*для блока с формой логина*/
.arrow_box {
   position: absolute;
   /* background-color: rgba(255, 255, 255, 0.5); */
   background: #f8f8f8;
   border: 2px solid #fff;
   height: 242px;
   width: 302px;
   padding: 40px;
   border-radius: 6px;
   -webkit-box-shadow: #3c4149 6px 0px 27px 0px;
   -moz-box-shadow:#3c4149 6px 0px 27px 0px;
   box-shadow:#3c4149 6px 0px 27px 0px;
   top: 75px;
   right: 0px;
   z-index: 1000;
    }
.arrow_box:after, .arrow_box:before {
   bottom: 100%;
   left: 72%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
    }
.arrow_box:after {
   border-bottom-color: #f8f8f8;
   border-width: 30px;
   margin-left: -30px;
    }
.arrow_box:before {
   border-bottom-color: #f8f8f8;
   border-width: 36px;
   margin-left: -36px;
    }
/* Создано генератором стрелок на css3 http://phpguru.com.ua */

h1.registration {
	color: #fff;
	letter-spacing: 1px;
	margin: 5px;	
}

#registration {
	background-color: rgba(255, 255, 255, 0.5);
	width: 520px;
	height: 600px;
	padding: 5px 40px 0px 40px;
	margin: 0px auto;
	border-radius: 10px;	
}

#registration label {
	padding: 0 !important;
	margin: 10px 0px 0px 0px !important;
	color: #fff;
}

.clear {
	width: 100%;
	height: 15px;
}