input.my-custom-input {
	border: none !important;
}

input.my-custom-input:hover,
input.my-custom-input:focus {
	border: 1px solid #E7E7E7 !important;
}

.my-input-left {
	margin: 0;
	text-align: left;
}
.my-input-left label,
.my-input-left span {
	text-align: right;
	width: 30%;
	margin-right: 10px;
}
.my-input-left input {
	width: 60%;
	max-width: 300px;
}
.my-text-left {
	margin-bottom: 5px;
    font-weight: bold;
	text-align: right;
	width: 30%;
}
.my-block-container {
	width: 100%;
	float: left;
}
.my-block-container * {
	float: left;
}
.my-block-container .header {
	margin-bottom: 5px;
	margin-right: 10px;
    font-weight: bold;
	text-align: right;
	width: 30%;
}
.my-block-container .content {
	text-align: left;
}
.my-block-container .content.button {
	background-color: #C5E7F7;
	padding: 0 5px;
	min-width: 70px;
    border-radius: 4px;
    color: grey;
    cursor: pointer;
}
.my-block-container .content.button:hover {
	background-color: #92B6C7;
	color: white;
}

@media (max-width: 992px) {
	.schedule-student-row {
		border-top: 2px solid lightgrey;
	}
	.schedule-student-row:first-child {
		border: none;
	}
	
	.speciality-controls {
		margin-bottom: 15px;
	}
}

/*
	Изменяем стиль хидера и футера на цветной при входе
*/
.page-head {
	background-color: #357D9E !important;
    border-bottom: 3px solid #0b97d8;
    
    
    filter: alpha(opacity=95);
	       -moz-opacity: 0.95;
	            opacity: 0.95;
    
}

footer {
	background-color: #357D9E;
	
    filter: alpha(opacity=98);
	       -moz-opacity: 0.98;
	            opacity: 0.98;
}
/*
	---------------------------------------------------
*/

.schedule-student-col {
	margin-bottom: 6px;
}

table.center {
	margin: auto;
    margin-bottom: 40px;
}

div.schedule-list-container {
	margin-left: -10px !important;
    margin-top: 0;
    width: 90%;
    margin-bottom: 0.67em;
    position: relative;
     
    -webkit-box-shadow: 1px 1px 3px #292929;
       -moz-box-shadow: 1px 1px 3px #292929;
            box-shadow: 1px 1px 3px #292929;
            
    cursor: pointer;
}
div.schedule-list {
    background: #4284A5;
    padding: 10px 20px;
    color: white;
    
    border-radius: 4px 0 0 0;
}
.schedule-list:after{
     width: 0; height: 0;
     line-height: 0;
     border-left: 10px solid transparent;
     border-top: 7px solid #928F8F;
     top: 100%;
     left: 0;
     position: absolute;
     z-index: -1;
	 content: "";
}
div.schedule-list-content {
    background: white;
    width: 100%;
    color: black;
    display: none;
}


.footer-padding {
	padding-bottom: 40px;
}

.student-cabinet-content {
	margin-top: 75px;
	margin-bottom: 75px;
}

div.title-buttons {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

  a.title-button.btn {
    padding: 25px 15px 15px;
    min-width: 150px;
  	font-size: 16px !important;
  	color: white;
  }

  a.title-button.btn:hover {
    /*background-color: #57B5D4;*/
  }

div.courseContainer {
	width: 350px;
	display: inline;
}

.btn {
	color: white;
}
.btn:hover {
	color: white;
}

/* Underline From Center */
.btn.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.btn.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.btn.hvr-underline-from-center.active:before {
	left: 0;
	right: 0;
	height: 6px;
}

/* выбор специальности */
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  float: left;
}

/* Стиль разделителя для selectBox'а (выбора специальностей) */
.cs-options .cs-optgroup > span {
	color: gray;
}

.speciality {
	width: 700px;
	color: #fff;
	margin: 0 auto;
	text-align: left;
	text-indent: 20px;
}

.speciality label {
	font-size: 20px !important;
}

h1.speciality {
	font-weight: bold;
	padding-bottom: 30px;
}

.back {
	color: #fff;
	font-size: 36px;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/back-narrow1.png) no-repeat;
	background-position: left center;
}

.back:hover {
	background: url(../img/back-narrow1_hover.png) no-repeat;
}

/* ********************************** */

.page-head {
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	padding: 10px 50px;
	text-align: right;
	font-size: 16px;
	text-transform: uppercase;
	min-height: 50px;
	z-index: 100;
	position: relative;
	
/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/
}

.page-head input[type=text], input[type=password] {
	height: 30px !important;
}

.reg_link {
/* 	float: right; */
	margin: 0px 20px 0px 0px;
}

.reg_link a {
	color: #FFF;
	display: inline-block;
}

.reg_link a:hover {
	text-decoration: none !important;
	color: #FFF;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.open_id {
	color: #000;
	text-transform: none;
	font-size: 14px;
	margin: 20px 0px 0px 0px;
	text-align: left;
}

/*для блока с формой логина*/
.arrow_box {
   position: absolute;
   /* background-color: rgba(255, 255, 255, 0.5); */
   background: #f8f8f8;
   border: 2px solid #fff;
   height: 242px;
   width: 302px;
   padding: 40px;
   border-radius: 6px;
   -webkit-box-shadow: #3c4149 6px 0px 27px 0px;
   -moz-box-shadow:#3c4149 6px 0px 27px 0px;
   box-shadow:#3c4149 6px 0px 27px 0px;
   top: 75px;
   right: 0px;
   z-index: 1000;
    }
.arrow_box:after, .arrow_box:before {
   bottom: 100%;
   left: 72%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
    }
.arrow_box:after {
   border-bottom-color: #f8f8f8;
   border-width: 30px;
   margin-left: -30px;
    }
.arrow_box:before {
   border-bottom-color: #f8f8f8;
   border-width: 36px;
   margin-left: -36px;
    }
/* Создано генератором стрелок на css3 http://phpguru.com.ua */

h1.registration {
	color: #fff;
	letter-spacing: 1px;
	margin: 5px;	
}

#registration {
	background-color: rgba(255, 255, 255, 0.5);
	width: 520px;
	height: 600px;
	padding: 5px 40px 0px 40px;
	margin: 0px auto;
	border-radius: 10px;	
}

#registration label {
	padding: 0 !important;
	margin: 10px 0px 0px 0px !important;
	color: #fff;
}

.clear {
	width: 100%;
	height: 15px;
}