/*------------------*/
/*ТАБЛИЦА РАСПИСАНИЯ*/

/* Добавление специальности */

.speciality-control-button {
	width: 32px;
	height: 32px;
	font-size: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
	border: 1px solid #e8e8e8;
    border-radius: 6px;
}

.speciality-control-button:hover {
	border: 1px solid #d6d6d6;
    border-radius: 6px;
	background: #F0F0F0;
	cursor: pointer;
}

.speciality-control-button:active {
	cursor: pointer;
}

.speciality-control-button#speciality-add:active {
	border: 1px solid #d0d0d0;
    border-radius: 6px;
	background: #45b59f;
}

.speciality-control-button#speciality-minus:active {
	border: 1px solid #d0d0d0;
    border-radius: 6px;
	background: #b56445;
}

/* конец: Добавление специальности */

/* АВТОПОДСТАНОВКА */
.suggestion-box {
	position: relative;
}
.subjects-list,
.teachers-list {
	position: absolute;
	z-index: 999;
	float: both;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 190px;
	border: 1px solid #999;
	border-bottom: none;
}
.suggestion-box li {
	padding: 10px;
	background: white;
	border-bottom: 1px solid #999;
	color: black;
}
.suggestion-box li:hover {
	background: #F0F0F0;
	cursor: pointer;
}
/* конец: АВТОПОДСТАНОВКА */

/*
table.schedule-table.user {
	margin-top: 15px;
}
*/

table.schedule-table {
	border: 1px solid #aaa !important;
}

	/*
table.schedule-table > caption  {
		font-size: 20px;
	}
	
	table.schedule-table > caption {
		font-size: 20px;
	}
*/

	table.schedule-table > thead {
		
	}

		table.schedule-table > thead > tr > th {
			border: 1px solid #aaa !important;
			height: 50px;
			text-align: center;
		}

		table.schedule-table > thead > tr > th.day {
			width: 50px;
		}
		
		table.schedule-table > thead > tr > th.time {
			width: 50px;
		}
		
		table.schedule-table > thead > tr > th.subject {
			width: auto;
			min-width: 200px;
			position: relative !important;
		}
		
		div.table-group-close {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 23.5px;
			height: 19px;
		}
		
		div.table-group-close:hover {
			background-color: #ff5e00;
			color: white;
			cursor: pointer;	
		}
		
		div.table-group-close:active {
			background-color: #c04d0b;	
		}
		
		table.schedule-table > thead > tr > th.add {
			width: 50px;
			font-size: 20px;	
		}
		
		table.schedule-table > thead > tr > th.add:hover {
			background-color: #51c9b1;
			color: white;
			cursor: pointer;	
		}
		
		table.schedule-table > thead > tr > th.add:active {
			background-color: #45b59f;	
		}

	table.schedule-table > tbody {
		
	}

		table.schedule-table > tbody > tr > td {
			border: 1px solid #aaa !important;
		}

		table.schedule-table > tbody > tr > td.day {
			position: relative !important;
		}
		
		table.schedule-table > tbody > tr > td.day > div.vert
		{
/*
		    position: absolute;
		    top: 0px;
		    left: 0px;
*/
		    text-align: center;
		    
		    /* CSS3 specific totation code */
		    /* translate should have the same negative dimension as head height */
/*
		    transform: rotate(270deg);
		    -moz-transform: rotate(270deg);
		    -webkit-transform: rotate(270deg);
*/
		}
		
		table.schedule-table > tbody > tr > td.time {
			text-align: center;
			position: relative !important;	/* Для кнопок управления временем */
			/* font-size: 20px; */
		}
		
		table.schedule-table > tbody > tr > td.subject {
			text-align: center;
			position: relative !important;	/* Для кнопок управления предметом */
			/* font-size: 20px; */
		}
		
		/* Стиль неактивного текста */
		table.schedule-table .unactive {
			text-align: center;
			color: #d7d7d7 !important;
			/* font-size: 20px; */
		}
		
			/* Стиль неактивного текста */
			table.schedule-table .unactive.padding {
				padding: 9px 0px 10px 0px;
			}
			
			/* Стиль неактивного текста */
			table.schedule-table.user .unactive.padding {
				padding: 20px 0px 20px 0px;
			}
			
			/* Стиль текста при названии предмета без преподавателя */
			table.schedule-table.user div.subject.padding-one {
				padding: 9px 0px 10px 0px;
			}
		
		/* Стиль выходного дня */
		table.schedule-table > tbody > tr > td.subject-none {
			text-align: center;
			padding: 20px 0px 20px 0px;
			/* font-size: 20px; */
		}
		
		table.schedule-table > tbody > tr > td.add {
			/* font-size: 20px; */
		}
		
	table.schedule-table table.inner-table {
		width: 100%;
	}
		
		table.schedule-table table.inner-table tr.table-subject-down > td {
			  border-top: 1px solid #aaa !important;
		}
	
	table span.subject,
	table span.name,
	table span.group-name {
		cursor: pointer;
	}

/* Элементы времени */	
div.table-time-plus,
div.table-time-minus {
	background-color: #fafafa;
	padding: 0px;
}

div.table-time-plus:hover,
div.table-time-minus:hover {
	background-color: #51c9b1;
	color: white;
	cursor: pointer;	
}

div.table-time-plus:active,
div.table-time-minus:active {
	background-color: #45b59f;
}

/* Новый вариант */
	div.table-time-plus.top {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50%;
	}
	
	div.table-time-minus.top {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 100%;
		height: 50%;
	}
	
	div.table-time-plus.top > i,
	div.table-time-minus.top > i,
	div.table-time-plus.bottom > i,
	div.table-time-minus.bottom > i,
	div.table-time-plus.top-double > i,
	div.table-time-minus.top-double > i,
	div.table-time-plus.bottom-double > i,
	div.table-time-minus.bottom-double > i,
	div.table-time-plus.top-one > i,
	div.table-time-plus.middle-one > i,
	div.table-time-plus.bottom-one > i {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -0.5em;
		margin-left: -0.4em;
	}

/* Для случая, когда запись времени первая или же их нет */
div.table-time-plus.top.one,
div.table-time-minus.top.one {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;	
	height: 100% !important;
}

/* Новый вариант */
	div.table-time-plus.bottom {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 100%;
		height: 50%;
	}
	
	div.table-time-minus.bottom {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50%;
	}

/* Для случая, когда запись времени последняя */
div.table-time-plus.bottom.one,
div.table-time-minus.bottom.one {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;	
	height: 100% !important;
}

/* Для случая, когда запись времени единственная */
	div.table-time-plus.top-one {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 33%;
	}

	div.table-time-minus.middle-one {
		position: absolute;
		top: 33%;
		left: 0px;
		width: 100%;
		height: 33%;
	}
	
	div.table-time-plus.bottom-one {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 33%;
	}

/* Элементы предметов */
div.table-subject-plus,
div.table-subject-minus {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 23.5px;
	height: 19px;
}

div.table-subject-plus:hover,
div.table-subject-minus:hover {
	background-color: #51c9b1;
	color: white;
	cursor: pointer;	
}

div.table-subject-plus:active,
div.table-subject-minus:active {
	background-color: #45b59f;
}

div.table-subject-combine {
	position: absolute;
	bottom: 19px;
	right: 0px;
	width: 23.5px;
	height: 19px;
}

div.pressed {
	background-color: #8aead7;
}

div.table-subject-combine:hover {
	background-color: #51c9b1;
	color: white;
	cursor: pointer;	
}

div.table-subject-combine:active {
	background-color: #45b59f;
}

div.table-subject-delete {
	position: absolute;
	bottom: 38px;
	right: 0px;
	width: 23.5px;
	height: 19px;
}

div.table-subject-delete:hover {
	background-color: #51c9b1;
	color: white;
	cursor: pointer;	
}

div.table-subject-delete:active {
	background-color: #45b59f;
}

div.schedule-table-button {
	position: relative;
}

div.schedule-table-button div.success {
	position: absolute;
	bottom: -5px;
	right: -17px;
	color: green;
	font-size: 40px;
	height: 40px;
}

/*ТАБЛИЦА РАСПИСАНИЯ*/
/*------------------*/