@media print {
	
	html {
		background:#ffffff;
	}
	
	#bg-overlay,
	.page-head,
	#content,
	#cboxOverlay,
	video {
		display: none;
	}
	
	#colorbox {
		text-align: left;
		padding: 0px;
		margin: 0px;
	}
	
}