<div id="message" class="message"><?php echo $message; ?></div>

<div id="route" style="display: none"><?php echo $url; ?></div>

<div id="hidden_error_enterLogin" style="display: none"><?php echo @$error_enterLogin; ?></div>
<div id="hidden_error_enterPass" style="display: none"><?php echo @$error_enterPass; ?></div>