 <!-- empty Widget content for list content -->
<div class="widget-content col-md-12 row">
	
</div>
  
  <?php
      echo $this->Widgets->ScheduleTable_User_list($days, $rings, $tables_data);
  ?>
  
<!-- empty Widget content for list content -->
<div class="widget-content col-md-12 row">
	
</div>