<h1 class="speciality">Выберите специальности:</h1>
<?php 
	
	echo $this->Form->create('Speciality', array('action' => 'speciality_ajax_edit', 'default' => false, 'id' => 'SpecialityFormEdit'));
	
	if (is_array($message)) {
		while(list($key, $val) = each($message)) {
			echo '<p class="speciality">';
			echo $this->Form->label($val);
			echo $this->Form->checkbox('name', array('value' => $key, 'hiddenField' => false));
			echo '<p>';
		}
	} 
	else {
		echo $message;
	}	
		
	echo $this->Form->end();
	
?>

<?php					


/*
	echo $this->Html->link(
		'',
		array(
			'controller' => 'students',
			'action' => 'login/ajax',
		),
		array(
			'escape' => false,
			'class' => 'back',
			'id' => 'back'
		)
	);
*/



//echo $this->Js->link('', false, array('update'=>'#data', 'class' => 'back', 'id'=>'back', 'htmlAttributes' => array('onclick'=>"faculty_show();")));
echo '<div id="back" class="back" onclick="faculty_show();"></div>';
//echo $this->Js->link('', array('controller'=>'students', 'action'=>'empty_ajax'), array('update'=>'#data', 'class' => 'back', 'id'=>'back'));
echo $this->Js->writeBuffer();

?>