<div id="message_reg" class="message"><?php echo $message; ?></div>

<div id="route_reg" style="display: none"><?php echo $url; ?></div>

<div id="hidden_error_name" style="display: none"><?php echo @$error_name; ?></div>
<div id="hidden_error_last_name" style="display: none"><?php echo @$error_last_name; ?></div>
<div id="hidden_error_email" style="display: none"><?php echo @$error_email; ?></div>
<div id="hidden_error_pass" style="display: none"><?php echo @$error_pass; ?></div>
<div id="hidden_error_pass2" style="display: none"><?php echo @$error_pass2; ?></div>
<div id="hidden_error_captcha" style="display: none"><?php echo @$error_captcha; ?></div>