<div>
	<div class="col-md-12">	
		<?php
			if ($groups != null) {
				echo $this->Widgets->ScheduleTable_User($days, $rings, $speciality, $course, $groups, $table);
			} else {
				echo $this->Widgets->ScheduleTable_noTable();
			}
		?>
	</div>
</div>